<div class="container footer"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="55">
        <h4>Связь с редакцией</h4>
          г. Москва, ул. 10-я Парковая, 18, офис 44<br>
          📞: <i>(910) 405-52-73</i><br>
          ✉: <i><a href="mailto:dzmitry.huletski@gmail.com">dzmitry.huletski@gmail.com</a></i>
        <p style="text-align:center"><fb-like></fb-like><linkedin-share></linkedin-share></p>
      </div>
    </div>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="45" style="vertical-align:top">
    <div>
      <mat-card-subtitle>
        <a href="http://www.biblio-globus.ru/">Библио-Глобус</a> (Москва, ул. Мясницкая, 6/3, стр. 1)<br>
        <a href="https://www.archaeolog.ru/ru/">Институт археологии РАН</a> (Москва, ул. Дм. Ульянова, 19)<br>
        <a href="https://akademkniga.by/">Академкнига</a> (Минск, пр. Независимости, 72)<br>
        <a href="https://starymensk.by/">Усадьба "Стары Менск"</a> (Минский район, д. Городище, ул. Пионерская, 5а)<br>
        <a href="https://www.spbmuseum.ru/themuseum/visitors/regis.php#ppk">Петропавловская крепость</a> (Санкт-Петербург)<br>
        </mat-card-subtitle>
    </div>
  </div>
  <div>
      <p>© 2015-2022 Русь, Литва, Орда</p>
  </div>
</div>
