<ngx-hm-carousel
      [(ngModel)]="currentIndex1"
      [show-num]="1"
      [autoplay-speed]="speed"
      [autoplay]="true"
      [infinite]="infinite"
      [drag-many]="true"
      [aniTime]="200"
      [data]="centAvatars"
      class="top-carousel c-accent">

      <section ngx-hm-carousel-container class="content">
        <article class="item cursor-pointer"
          ngx-hm-carousel-item
          *ngFor="let avatar of centAvatars; let i = index"
            [ngClass]="{'visible': currentIndex===i}">
          <div class="img"
            style="font: bold 24px/45px Helvetica, Sans-Serif;"
            [routerLink]="['/excerpt', centuries[i]]"
            [style.backgroundImage]="'url('+avatar.url+')'">
              <br>&nbsp;&nbsp;&nbsp;
              {{centuries[i]}} век
<!-- <p class="century_legend"></p> -->
          </div>
        </article>
        <ng-template #infiniteContainer></ng-template>
      </section>

      <!-- only using in infinite mode or autoplay mode, that will render with-->
      <ng-template #carouselContent let-avatar let-i="index">
        <article class="item cursor-pointer"
          [ngClass]="{'visible': currentIndex===i}">
          <div class="img d-flex" (click)="click(i)"
            [style.backgroundImage]="'url('+avatar.url+')'">

          </div>
        </article>
      </ng-template>

      <ng-template #carouselPrev>
        <div class="click-area">
          <i class="material-icons">keyboard_arrow_left</i>
        </div>
      </ng-template>
      <ng-template #carouselNext>
        <div class="click-area">
          <i class="material-icons">keyboard_arrow_right</i>
        </div>
      </ng-template>



      <ng-template #carouselProgress let-progress>
        <div class="progress"></div>
      </ng-template>

    </ngx-hm-carousel>
