$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$transition_time:.2s;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}


.top-carousel {
  color:white;

  .century_legend {
    position	: absolute;
    top		: 100px;
    left		: 20px;

  	color			: white;
  	font			: bold 24px/45px Helvetica, Sans-Serif;
  	letter-spacing		: -1px;
  	background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
  	background		: rgba(0, 0, 0, 0.7);
  	padding			: 10px;
  }


  .content {
    display: flex;

    .item {
      width: 100%;
      padding: 0em;
      display: block;
      opacity: 1;

      transition: opacity 0.295s linear $transition_time;

      &.visible {
        opacity: 1;
      }

      .img {
        width: 100%;
        height: 100vh;
        display: block;
        background-size: cover;
        background-position: center;
      }
    }


  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: #d6c8a3;
  }

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid;
    opacity: 0.5;

    &.visible {
      opacity: 1;
    }
  }

  .click-area {
    width: 50px;
    text-align: center;

    i {
      font-size: 3em;
    }
  }
}
