<ngx-hm-carousel
  [(ngModel)]="currentIndex"
  [show-num]="show_num"
  [autoplay-speed]="speed"
  [infinite]="infinite"
  [drag-many]="true"
  [aniTime]="200"
  [data]="avatars"
  class="carousel c-accent  grey-back">

  <section ngx-hm-carousel-container class="content">
    <article class="item cursor-pointer"
      ngx-hm-carousel-item
      *ngFor="let avatar of avatars; let i = index"
        [ngClass]="{'visible': currentIndex===i}">
      <div class="img" [routerLink]="['/excerpt', 'v'+volumes[i]]"
        [style.backgroundImage]="'url('+avatar.url+')'">
        {{i}}
      </div>
    </article>
    <ng-template #infiniteContainer></ng-template>
  </section>

  <!-- only using in infinite mode or autoplay mode, that will render with-->
  <ng-template #carouselContent let-avatar let-i="index">
    <article class="item cursor-pointer"
      [ngClass]="{'visible': currentIndex===i}">
      <div class="img" (click)="click(i)"
        [style.backgroundImage]="'url('+avatar.url+')'">
        {{i}}
      </div>
    </article>
  </ng-template>

  <ng-template #carouselPrev>
    <div class="click-area">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </ng-template>
  <ng-template #carouselNext>
    <div class="click-area">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </ng-template>

  <ng-template #carouselDot let-model>
    <div class="ball bg-accent"
      [class.visible]="model.index === model.currentIndex"></div>
  </ng-template>

  <ng-template #carouselProgress let-progress>
    <div class="progress"></div>
  </ng-template>

</ngx-hm-carousel>

<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <p style="text-indent:20px;"><b>«Русь, Литва, Орда в памятниках нумизматики и сфрагистики»</b>
    - научный сборник, в котором публикуются материалы, посвященные денежному обращению,
    торговле, финансам и геральдике средневековых государств Восточной Европы.
    Предназначен для историков, нумизматов, сфрагистов, краеведов, коллекционеров,
    любителей старины, а также всех заинтересованных лиц. Основан в 2015 году в Минске.

  </p>

  <div>
    <div class='random_coin' *ngIf="randomCoin"><img [src]='randomCoin["obverse_thumbnail"]' width=200>
      <div>Nogata{{yearsRange}}</div>
      <div class='state'>{{randomCoinIssuer}}</div>
      <div *ngIf="randomCoinDet!=0" class='state'><b>Sotnikova, Spasskij #{{randomCoinDet}}</b></div><br>
      <div class ='numista'>Ⓒ <a href="https://en.numista.com/">Numista</a></div>
    </div>
    <br>
    <div class ='increased'>Готовятся к выходу</div>
    <div class ='indented'>следующие выпуски сборника: <b>(12)</b> Регулярный выпуск</div>

    <p>Авторы статей, редакторы и рецензенты получают бесплатный экземпляр сборника.</p>

      <div class ='increased'>Требования к оформлению</div>
      <div class ='indented'>для статей и сообщений</div>
      <p>
        <a href="../assets/pdf/rules.pdf" target="_blank">
          <img src="../assets/images/books/pdf.png" height="100">
        </a>
      </p>
      </div>
</div>
